html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

* {
    font-family: sans-serif;
}

body {
    overflow-x: hidden;
    margin: 0px !important;
    padding: 0px !important;
}

.header-wrap {
    background-image: url("/assets/img/background.jpg");
    background-size: cover;
    color: white;
}


/* Navigation Bar */

.sticky .nav {
    margin: 0px !important;
    padding: 0px !important;
}

.nav {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px;
    font-size: 25px;
}

.nav li {
    display: inline;
    list-style-type: none;
    text-underline-position: unset;
    padding: 20px;
}

.nav li a {
    padding: 10px;
    text-decoration: none;
    color: white;
}

.nav li a:hover {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    animation: ease-in;
    transition: 0.3s;
    border-radius: 5px;
}

/* End Navigation Bar */


/* Header */
.header {
    height: 100vh;
    margin-top: -5vh;
}

.img_profile {
    width: 20vw;
    height: 20vw;
    border-radius: 100%;
    object-fit: cover;
}

.social_icon a {
    margin: 20px;
    text-decoration: none;
    color: white;
}

.social_icon a:hover {
    color: black;
}

/* End Header */


/* Flex */
.flex-container {
    display: flex;
}

.flex-center {
    justify-content: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

/* End Flex */

/* Layout */
.main {
    flex: 70%
}

.sidebar {
    flex: 30%
}


.container {
    display: block;
    padding: 10px;
}

.content {
    padding: 40px;
    /* margin: 10px 0px 10px; */
}

.text-content {
    text-align: justify;
    line-height: 1.6;
}

.bg-lightgray {
    background-color: #f1f3f7;
}

.custom-flex-align {
    justify-content: center;
}

.custom-text-align {
    text-align: center;
}

/* End layout */

/* Footer */
footer {
    /* background-color: #c7c7c7; */
    background-color: black;
    color: white;
    margin: 0px !important;
    padding: 0px !important;
}

/* End footer */

/* Form input */
input,
select,
textarea {
    width: 30vw;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 5px;
    border: none;
}

.btn-submit {
    background-color: black;
    color: white;
    font-size: 1.2em;
}

.btn-submit:hover {
    background-color: grey;
    transition: 0.3s;
}

.btn-to-top {
    position: fixed;
    z-index: 2;
    bottom: 10px;
    right: 10px;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    font-size: 10px;
    color: white;
    background-color: black;
    outline: none;

}

.btn-to-top:hover {
    background-color: grey;
    transition: 0.3s;
}

/* End form input */





/* Mobile responsive */

@media only screen and (max-width: 600px) {
    .img_profile {
        width: 30vw;
        height: 30vw;
    }

    .sidebar {
        flex: 100%
    }

    .content {
        flex: 100%
    }

    .nav {
        font-size: 20px;
    }

    .content {
        padding: 15px;
        margin: 10px 0px 10px;
    }

    .custom-align {
        text-align: left
    }

    input,
    select,
    textarea {
        width: 85vw;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border-radius: 5px;
        border: none;
    }

    .custom-flex-align {
        justify-content: left;
    }

    .custom-text-align {
        text-align: left;
    }
}

/* End mobile responsive */